.contact {
    min-height: 40vh;
    background-color: $navy;

    &__container {
        height: 80%;
        width: 30%;
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            & {
                width: 90%;
            }
        }
    }

    &__title {
        text-align: center;
        font-size: 1.5em;
        white-space: nowrap;

        @media (max-width: 768px) {
            & {
                font-size: 1em;
            }
        }

        &--underline {
            font-size: 4em;
            margin-bottom: 1em;

            @media (max-width: 768px) {
                & {
                    font-size: 2em;
                }
            }
        }
    }

    &__text {
        margin: 0 auto 3em auto;

    }
}