.header {
    min-height: 95vh;
    color: #ebebeb;
    text-align: left;
    margin-top: 3rem;
    padding-top: 8rem;
    background-color: $navy;

    @media (max-width: 768px) {
        padding-top: 3rem;
        max-height: 30vh;
    }
    
    &__container {
        max-width: 80%;
        margin: 0 auto;

        @media (max-width: 768px) {
            max-width: 90%;
         }
    }

    &__title {
        font-size: 1.2rem;
        font-weight: normal;
        margin-top: 5rem;
        margin-right: 5em;
        color: $greenish;
        white-space: nowrap;

        a {
            font-size: 5rem;
            color: $lightest-slate;

            @media (max-width: 1080px) {
                font-size: 4rem;
            }
            
            @media (max-width: 768px) {
               font-size: 2.5rem;
            }
        }

        a:hover {
            color: $greenish;
        }
    }

    &__link {
            color: $greenish;
            border-bottom: 5px solid #ebebeb;
            font-weight: bold;
            text-decoration: none;
            position: relative;

            &:hover {
                opacity: 0.8;
                bottom: 3px;
            }
        }

    &__desc {
        font-size: 5rem;
        font-weight: 500;
        margin-top: 2rem;
        color: $slate;
        max-width: 90%;
        
        @media (max-width: 1080px) {
            font-size: 3.8rem;
            max-width: 90%;
        }

        @media (max-width: 768px) {
            font-size: 2.5rem;
            margin-bottom: 2rem;
         }
    }

    &__text {
        color: $slate;
        font-size: 1.2em;
        width: 30%;

        @media (max-width: 1080px) {
            & {
                width: 100%;
            }
        }
    }
}

  
  