.social--right {
    width: 40px;
    position: fixed;
    bottom: 0px;
    right: 40px;
    z-index: 10;

    &__email {
        text-decoration: none;
        display: block;
        position: relative;
        color: white;
        -webkit-transform: rotate(90deg);  
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); 
        margin-bottom: 160px;
        opacity: 0.8;

        &:hover {
            opacity: 1;
            color: $greenish;
            bottom: 3px;
        }
    }

    &:after {
        content: "";
        display: block;
        width: 1px;
        height: 90px;
        margin: 0px auto;
        background-color: white;
        opacity: 0.8;
    }
}